{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "useTabs": false,
  "tabWidth": 2,
  "arrowParens": "always",
  "printWidth": 80,
  "importOrder": ["<THIRD_PARTY_MODULES>", "^[./]"]
}
